body{
    background-color:rgb(209, 227, 239); /* Give your page a fun background color */
}

header{
    background-color: black;
}
h1{
    color:rgba(255, 255, 255, 0.928); /* Make the header and footer a different color from the background */
    text-align: center; /* Align the h1 containing your name in the center of the header*/
}

p{
    color: rgb(255, 255, 255); /* Make your p tag a different color and italic */
font-style: italic;
}

img{
    border: 4px solid rgba(55, 55, 55, 0.637); /* Put a border around your image */
}

li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Change the font-family of your list */
}

footer {
    background-color: black;
}